/*

* Globals

*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
}

#kashtanka-body {
 background: url('../images/kashtanka_bg.jpeg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #fbefcc;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: absolute;
}

#kashtanka_words_body {
 background: url('../images/kashtanka_2.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #fbefcc;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5); 
}

#our_readers_body {
  background: url('../images/readers_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #fbefcc;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: absolute;
}

.bg-container {
position: relative; 
background-image: url('../images/homepage_bg.jpg');
height: 100%; 
color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.inner-cover {
margin-top: 50%;
}


/*
 * Header
 */
.masthead-brand {
  /*margin-top: 2rem;*/
  margin-bottom: 1rem;
  font-style: italic;
  text-align: left;
}

#dropdownMenuButton {
  background: transparent;
  border: none;
  color: inherit;
  font-weight: bold;
  padding-top: 4px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
} 

#dropdownMenuButton-readers {
  background: transparent;
  border: none;
  color:  #e67300;
  font-weight: bold;
  padding-top: 4px;
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*#dropdownMenuButton a {
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}*/

.masthead-nav > li,
.masthead-nav-readers > li {
  display: inline-block;
}

.masthead-nav > li + li,
.masthead-nav-readers > li + li  {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.95);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.masthead-nav-readers > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(230,115,0,.95);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-nav-readers > li > a:hover,
.masthead-nav-readers > li > a:focus{
 background-color: transparent;
 border-bottom-color: #e67300;
 border-bottom-color: rgba(230,115,0,.25); 
}
.masthead-nav-readers > .active >a,
.masthead-nav-readers > .active > a:hover,
.masthead-nav-readers > .active > a:focus{
  color:  #e67300;
  border-bottom-color:  #e67300;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav,
  .masthead-nav-readers {
    float: right;
  }

  .clearfix {
  width: 100%;
  height: 10rem;
}
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
 }

a.btn-secondary.btn-lg.btn-block {
  padding: 10px 20px;
  font-weight: bold;
  opacity: .5;
  text-decoration: none;
}
a.btn-secondary.btn-lg.btn-block:hover {
  opacity: 1;
}

.cover p.lead {
  font-style: italic;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  background: transparent;
  text-align: center;
}

/*
 * our_readers page
 */
 .card-deck {
  max-width: 1200px;
  margin-top: 20%;
 }
 
 .card {
  margin-bottom: 1.5rem;
  margin-left: 0;
  min-width: 30%;
  -webkit-box-shadow: 16px 17px 30px -4px rgba(85,51,17,1);
  -moz-box-shadow: 16px 17px 30px -4px rgba(85,51,17,1);
  box-shadow: 16px 17px 30px -4px rgba(85,51,17,1);
 }

 .card-title {
  color: #e67300;
  font-size: 1.75rem;

 }
  p.card-text {
    color: #553311;
    font-size: 1rem;
    font-style: italic;
  }

 .card-img-top {
  position: relative;
 } 

  .enlarge:hover {
  transform:scale(1.5,2);
  transform-origin:0 0;
  z-index: 1030;
}

 /*
 * kashtanka-words page
 */


.main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 10rem;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
  opacity: .8;
 
}
.main-content small {
  font-size: 1rem;
}

.main-content p {
  font-size: 1.5rem;
  font-style: italic;
}

.modal-content {
 color: #4d3319;
}

.btn-link#kashtankaModalbtn {
color: inherit;
font-weight: bold;
cursor:help;
}

.btn-link#kashtankaModalbtn:focus,
.btn-link#kashtankaModalbtn:hover {
  color: #000000;
}

.popover-content {
  color: #553311;
}
.popover-title {
  color: #553311;
  font-weight: bolder; 
}

.card-inverse {
  width: 48%;
  min-height: 25rem;
  float: right;
  margin-right: 1rem;
  text-align: left;
  background: transparent;
}

.card-inverse .card-title,
 .card-inverse small {
/*color: rgba(43, 26, 8, 1);*/
color: rgba(48, 12, 3, 1);
line-height: 1.2;
}


 .card-inverse .card-text {
/*color: rgba(255, 255, 255, 1);*/
color: rgba(242, 85, 44, 1); 
line-height: 1.2;
}


.play-card {
  width: 48%;
  margin-right: 1rem;
  /*margin-left: 1.5rem;*/
  min-height: 2rem;
  padding: .5rem;
  color: #4d3319;
  font-weight: bolder;
  font-style: italic;
  float:right;
}

.play-card:hover {
box-shadow:9px 12px 9px #fff;
background-color: #4d3319;
color: inherit;
cursor: pointer;
}

.card-img-overlay {
  display: none;
}

.card-img {
display: none;
}

.card-img:hover {
  opacity: .5;
}

.card-inverse:hover .card-img-overlay{
  display: block;
}


/*
 * Affix and center
 */

 @media (min-width: 400px) and (max-width: 767px) {

  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }

.dropdown-menu,
.dropdown {
  width: 80%;
  font-size: .9em;
  padding-left: 0;
}

#dropdownMenuButton,
#dropdownMenuButton-readers {
  padding-left: 0;
  font-size: .9em;
  }

.masthead-nav > li > a,
.masthead-nav-readers > li > a {
  font-size: 12px;
}

.masthead-nav > li + li,
.masthead-nav-readers > li + li  {
  margin-left: 10px;
} 

 .inner-cover{
  margin-top: 50%;
 }

  .mastfoot {
    position: fixed;
    bottom: 0;
    margin-top: 5rem;
    text-align: center;
  }

.card-deck {
  margin-bottom: 5rem;
}

.main-content h1 {
    margin-top: 5rem;
    font-size: 6vw;
}
.main-content p {
  font-size: 3vw;
}

#kashtankaModalbtn h2{
font-size: 4vw;
}

.clearfix {
  width: 90%;
  height: 25rem;
}

.card-inverse {
  width: 100%;
  margin-right: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }

.main-content {
  margin-top: 15rem;
}

.main-content h1 {
    font-size: 5vw;
}
.main-content p {
  font-size: 3vw;
}

.card-inverse .card-text,
.card-inverse .card-text small {
  font-size: 95%;
}



}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }

  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

.clearfix {
  width: 90%;
  height: 25rem;
}

}







