:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(103, 120, 58, 0.7);
  --left-button-hover-color: rgba(58, 69, 33, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(37, 38, 39, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h3 {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translateX(-50%);
  white-space: ;
}

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 60%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}


/***************** overlays ***********************/

#overlay {
    position: fixed;
    display: none;
    width: 75%;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(103, 120, 58,1);
    z-index: 3;
    cursor: pointer;
}

#overlay1 {
    position: fixed;
    display: none;
    width: 75%;
    height: 70%;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 43, 43,1);
    z-index: 3;
    cursor: pointer;
}

#text, #text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#text3 {
    padding: 10%;
    color: #fff;
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 70%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('./SLImages/leaf.jpeg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url('./SLImages/clouds.jpeg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

.footer {
position: absolute;
top: 70%;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  #text, #text1, #text3 {
    font-size: 90%;
  }

  .button {
    width: 12rem;
    top: 70%;
  }
}

@media(max-height: 700px) {

  .button {
    top: 80%;
  }
  
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

   #text, #text1 {
    font-size: 90%;
  }
}